html, body, div, span, h1, h2, h3, h4, h5, h6, p, label, button {
    margin: 0;
    padding: 0;
    text-align: center;
}
html, body {
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../img/header_background.png) no-repeat;
    background-size: 100%;
    color: #fff;
}
.header h1 {
    line-height: 280%;
}
.header h3 {
    color: #c8c2bc;
    width: 64%;
    margin: 0px auto;
}
.header-search {
    border: 1px solid #c8c2bc;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    margin-top: 30px;
}
.header-search h4 {
    margin-top: 6%;
}
.header-search h6 {
    color: #c8c2bc;
    margin: 18px 0px;
}
.header-search input {
    display: inline-block;
    width: 32%;
    height: 24px;
    background: rgba(0, 0, 0, 0);
    text-indent: 2px;
    border: 1px solid #c8c2bc;
}
.header-search input:nth-child(2) {
    margin: 0px 14px;
}
.header-search button {
    padding: 4px 4px;
    background: #fff;
    color: #000;
}

.content1 {
    margin-top: 30px; 
    width: 80%;
    margin: 0 auto;
}
.content1 h4 {
    margin: 16px 0px;
}
.content1-box:first-child {
    margin-top: 14px;
    margin-bottom: 8px;
}
.content1-box img {
    float: left;
}
.content1-box span{
    width: 42%;
    display: inline-block;
}

.content2 {
    width: 100%;
    height: 72%;
    text-align: center;
    background: url(../img/content2_background.png) no-repeat;
    background-size: 100%;
    color: #fff;
}
.content2 h2 {
    width: 72%;
    padding-top: 6%; 
    text-align: left;
}
.content2 h5 {
    color: #c8c2bc;
    margin: 32px 0px;
    width: 72%;
    line-height: 20px;
    text-align: left;
}
.content2 > div {
    display: inline-block;
    width: 42%;

}

.content2_left button:first-of-type{
    margin-left: 0px;
}
.content2_left button:nth-of-type(2){
    background: rgba(0, 0, 0, 0);
}

.content2_left button {
    padding: 8px 16px;
    margin: 6px 8px;
    text-align: left;
}